* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
}

#inputUsername,
#inputPassword {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

#loginButton {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#errorMessage {
  color: red;
  font-size: 14px;
}

.toDoListcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.toDoListcontainer > header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
}

#logoutButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logoutButton:hover {
  background-color: #bc1425;
}

.taskInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

#taskInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#addTaskButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #048a23;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addTaskButton:hover {
  background-color: #026a03;
}

#taskList > li {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trashIcon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.trashIcon:hover {
  filter: brightness(0.8);
  background-color: #dc3545;
  border-radius: 5px;
}

.checkIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.checkIcon:hover {
  filter: brightness(0.8);
  background-color: #00674f;
  border-radius: 100%;
}

.actionsButtonsContainer {
  display: flex;
  gap: 10px;
}

.taskDone {
  text-decoration: line-through;
  color: gray;
}

.checkIconDone {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: brightness(0.8);
  background-color: #00674f;
  border-radius: 100%;
}

.editIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.editIcon:hover {
  filter: brightness(0.8);
  background-color: #ffc107;
  border-radius: 5px;
}

.closeIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.closeIcon:hover {
  filter: brightness(0.8);
  background-color: #dc3545;
  border-radius: 5px;
}

#popupMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #dc3545;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  pointer-events: none;
}

#popupMessage.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

.fetchButton {
  display: block;
  margin: 20px auto 10px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fetchButton:hover {
  background-color: #0056b3;
}

.inputTextEdit {
  width: 70%;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  border: 1px solid #048a23;
  padding: 5px;
  outline: none;
  border-radius: 6px;
}

.taskIsBeingEdited {
}
